/* ==== Article Block ==== */

.article__title {
  font-size: 3.375rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}
.article__quote {
  max-width: 738px;
  margin: 0;
  padding: 0;
}
.article__quote_text {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
  margin: 40px 0 0;
}
.article__quote_footer {
  text-align: right;
  margin: 10px 0 0;
}
.article__quote_author {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding-right: 6px;
}