/*==== Main Block ====*/

.content {
  max-width: 984px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content__article {
  padding-top: 92px;
  max-width: 830px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}
.content__text {
  max-width: 722px;
  font-size: 1rem;
  line-height: 1.63;
  font-weight: 400;
  margin: 32px 0 0;
}