/*==== Footer Block ====*/
.footer {
  margin: 92px auto 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__copyright {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
}