/*==== Header Block ====*/

.header {
  padding-top: 34px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__logo {
  max-width: 254px;
  height: auto;
}
.header__content {
  margin-top: 90px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__title {
  font-weight: 900;
  font-size: 6rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  max-width: 720px;
  flex-wrap: wrap;
  text-align: center;
}
.header__subtitle {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.5;
  margin: 32px auto 64px;
  max-width: 720px;
  text-align: center;
  padding: 0;
}
.header__image {
  width: 100%;
  max-width: 984px;
  object-fit: cover;
  object-position: center;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}