/*==== Media Queries ====*/

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }
  .header__title {
    font-size: 4.5rem;
    max-width: 530px;
  }
  .header__subtitle {
    margin: 25px auto 30px;
  }
  .content {
    max-width: 720px;
  }
  .content__article {
    padding-top: 90px;
  }
  .article__title {
    font-size: 2.8125rem;
  }
  .footer {
    margin: 88px auto 24px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    max-width: 188px;
  }
  .header__content {
    margin-top: 50px;
  }
  .header__title {
    font-size: 2.5rem;
    max-width: 228px;
  }
  .header__subtitle {
    font-size: 1rem;
    margin: 16px auto 40px;
    max-width: 288px;
  }
  .content {
    max-width: 288px;
  }
  .content__article {
    padding-top: 64px;
  }
  .article__title {
    font-size: 2rem;
  }
  .footer {
    margin: 64px auto 24px;
  }
}