/* ==== Page Block ==== */
.page {
  min-width: 1100px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}