/* ==== Places Block ==== */
.places {
  margin: 92px auto 0;
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}