@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/global.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/article.css);
@import url(../blocks/footer.css);
@import url(../blocks/media-query.css);